@charset 'UTF-8';
/*********************************************************************************/
/* Includes                                                                      */
/*********************************************************************************/
/*********************************************************************************/
/* Variables                                                                     */
/*********************************************************************************/
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
body {
  background: #ef4036 url('../images/header-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center 0;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
}
body,
input,
textarea,
select {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18pt;
  line-height: 1.75em;
  font-weight: 300;
  color: #3a3939;
  text-shadow: 0 0 0.5px rgba(58, 57, 57, 0.25);
  -webkit-text-stroke: 0.25px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.75em;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1em;
}
strong,
b {
  font-weight: 400;
}
em,
i {
  font-style: italic;
}
a {
  color: #35b88f;
  text-shadow: 0 0 0.5px rgba(53, 184, 143, 0.25);
  -moz-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -webkit-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -o-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -ms-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  text-decoration: none;
  border-bottom: dotted 1px rgba(53, 184, 143, 0.5);
}
a:hover {
  border-bottom-color: rgba(53, 184, 143, 0);
}
sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}
sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}
hr {
  border: 0;
  border-top: solid 1px #dad9d9;
  margin: 2em 0 2em 0;
}
blockquote {
  border-left: solid 0.5em #eae9e9;
  padding: 1em 0 1em 2em;
  font-style: italic;
}
p,
ul,
ol,
dl,
table {
  margin-bottom: 1em;
}
header {
  margin-bottom: 1em;
}
header p {
  display: block;
  margin: 0.5em 0 0 0;
  padding: 0 0 1.5em 0;
}
footer {
  margin-top: 1em;
}
br.clear {
  clear: both;
}
/* Sections/Articles */
section,
article {
  margin-bottom: 3em;
}
section > :last-child,
article > :last-child {
  margin-bottom: 0;
}
section:last-child,
article:last-child {
  margin-bottom: 0;
}
.row > section,
.row > article {
  margin-bottom: 0;
}
/* Buttons */
.button {
  position: relative;
  display: inline-block;
  border: 0;
  background: #35b88f;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  padding: .3em 2em .3em 2em;
  text-align: center;
  border-radius: .2em;
  font-weight: 300;
  -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
}
.button:hover {
  background: #45c89f;
}
.button.style2 {
  color: #ffffff;
  background: none;
  box-shadow: inset 0 0 0 2px #fff;
}
.button.style2:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff !important;
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25) !important;
}
.button.style3 {
  background: none;
  color: #3a3939;
  box-shadow: inset 0 0 0 1px #dad9d9;
}
.button.style3:hover {
  background: rgba(58, 57, 57, 0.025);
}
#intro {
  height: 1000px;
  background: #ffffff;
}
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
#header {
  position: relative;
  color: #fff;
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
  text-align: center;
  margin: 0;
  padding: 0em 0 0em 0;
  cursor: default;
}
#header header {
  display: inline-block;
  padding: 0 0 0em 0;
}
#header header h1 {
  font-weight: 600;
  font-size: 2em;
}
#header header p {
  font-size: 1em;
  padding: 0;
}
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
#footer {
  position: relative;
  color: #fff;
  text-align: center;
  margin: 4.5em 0 0 0;
  background: #333333;
}
#footer footer p {
  color: #ccc;
  font-size: .5em;
  font-weight: 200;
  letter-spacing: .1em;
}
#footer footer p strong {
  color: #fff;
}
