@charset 'UTF-8';
/*********************************************************************************/
/* Includes                                                                      */
/*********************************************************************************/
/*********************************************************************************/
/* Variables                                                                     */
/*********************************************************************************/
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
body {
  background-color: #ef4036;
  background-size: cover;
  background-position: center 0;
  background-attachment: fixed;
  font-size: 62.5%;
  font-weight: 300;
  color: #666666;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
}
body,
input,
textarea,
select,
button {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-text-stroke: 0.25px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-size: 3.6em;
  line-height: 1.4em;
}
h2 {
  font-size: 2.8em;
  line-height: 1.2em;
  font-weight: 400;
}
h3 {
  font-size: 3.6em;
}
h4 {
  font-size: 2.2em;
}
strong,
b {
  font-weight: 400;
}
em,
i {
  font-style: italic;
}
a {
  color: #ffffff;
  /*
		-moz-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
		-webkit-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
		-o-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
		-ms-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
		transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
		*/
  text-decoration: none;
}
a:hover {
  border-bottom-color: rgba(53, 184, 143, 0);
}
sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}
sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}
hr {
  border: 0;
  border-top: solid 1px #dad9d9;
  margin: 2em 0 2em 0;
}
blockquote {
  border-left: solid 0.5em #eae9e9;
  padding: 1em 0 1em 2em;
  font-style: italic;
}
header p {
  display: block;
}
br.clear {
  clear: both;
}
/* Sections/Articles */
section > :last-child,
article > :last-child {
  margin-bottom: 0;
}
section:last-child,
article:last-child {
  margin-bottom: 0;
}
.row > section,
.row > article {
  margin-bottom: 0;
}
/* Images */
.image {
  display: inline-block;
  border: 0;
}
.image img {
  display: block;
  width: 100%;
}
.image.featured {
  display: block;
  width: 100%;
  margin: 0 0 2em 0;
}
.image.full {
  display: block;
  width: 100%;
}
.image.left {
  float: left;
  margin: 0 2em 2em 0;
}
.image.centered {
  display: block;
  margin: 0 0 2em 0;
}
.image.centered img {
  margin: 0 auto;
  width: auto;
}
/* Forms */
/* Buttons */
.button {
  position: relative;
  display: inline-block;
  border: 0;
  background-color: #ffffff;
  color: #ef4036;
  font-size: 1.8em;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  padding: 1em 0em 1em 0em;
  text-align: center;
  border-radius: .2em;
  -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
}
.button.block {
  display: block;
  width: 100%;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.85);
}
.button.outline {
  background: none;
  box-shadow: inset 0 0 0 1px #ffffff;
  color: #ffffff;
}
.button.outline:hover {
  color: #ef4036;
  background-color: #ffffff;
}
.button.style2 {
  color: #ffffff;
  background: none;
  box-shadow: inset 0 0 0 2px #fff;
}
.button.style2:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff !important;
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25) !important;
}
.button.style3 {
  background: #ef4036;
  color: #ffffff;
}
.container.micro {
  width: 600px;
}
.arrow-wrapper {
  width: 100px;
  margin: 0 auto;
}
.arrow-wrapper .arrow-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 40px solid #000;
}
.arrow-wrapper .arrow-down.small {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 20px solid #000;
}
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
#header {
  position: relative;
  color: #fff;
  text-align: center;
  margin: 0;
  cursor: default;
}
#header header {
  display: inline-block;
  padding: 0em;
}
#header header .logo {
  margin-bottom: 4em;
}
#header header h1 strong {
  font-weight: 600;
}
#header header p {
  font-size: 3.8em;
  margin-bottom: 3em;
}
/*********************************************************************************/
/* Intro                                                                         */
/*********************************************************************************/
#intro {
  position: relative;
  background: #e2e2e2;
  text-align: center;
  padding: 4em 0em 0em 0em;
}
#intro header h2 {
  color: #ef4036;
  font-size: 3.6em;
  margin-bottom: 1em;
}
#intro header p {
  font-size: 2em;
  line-height: 1.3em;
  margin-bottom: 2em;
}
#intro footer {
  padding: 4em 0em 0em 0em;
}
/*********************************************************************************/
/* Features                                                                      */
/*********************************************************************************/
#features {
  background: #ffffff;
  position: relative;
  margin: 0;
  padding: 4em 0em 0em 0em;
}
#features header {
  padding: 0em 0em 8em 0em;
}
#features header h2 {
  color: #ef4036;
  margin: 2em 0em 1em 0em;
}
#features header p {
  font-size: 1.6em;
  line-height: 1.3em;
  margin-bottom: 1em;
}
#features article {
  background-color: #ef4036;
  padding: 6em 0em 6em 0em;
  position: relative;
}
#features article h4 {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: .5em;
}
#features article p {
  color: #ffffff;
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: 300;
}
#features article p .underline {
  border-bottom: 1px solid #ffffff;
}
#features article .feature-icon {
  margin-top: -100px;
}
#features footer {
  background-color: #ef4036;
  text-align: center;
  padding: 0em 0em 8em 0em;
}
#features footer .button {
  padding: 1em 1.5em 1em 1.5em;
  font-weight: 600;
  font-size: 1.8em;
  position: relative;
}
#features footer .button .discount-bubble {
  width: 201px;
  height: 99px;
  display: block;
  background: url(../images/discount-bubble.png);
  position: absolute;
  right: -230px;
  bottom: -40px;
}
/*********************************************************************************/
/* Team                                                                          */
/*********************************************************************************/
#team {
  background: #eaeaea;
  position: relative;
  margin: 0;
}
#team header {
  padding: 4em 0em;
}
#team header h2 {
  color: #333;
  margin-bottom: .5em;
}
#team header p {
  font-size: 1.8em;
  line-height: 1.3em;
  margin-bottom: 1em;
}
#team header .team-member {
  text-align: center;
  cursor: pointer;
}
#team header .team-member .avatar {
  margin-bottom: 1em;
}
#team header .team-member h4 {
  color: #ef4036;
  font-weight: 400;
}
#team header .team-member p {
  font-size: 1.4em;
  color: #999;
  margin-bottom: 2em;
}
#team footer {
  background: #ffffff;
  padding-bottom: 4em;
}
#team footer .team-info p {
  margin-top: 1.5em;
}
#team footer .arrow-wrapper {
  margin: 0 auto;
  width: 50px;
}
#team footer .arrow-down {
  border-top-color: #eaeaea;
}
#team footer p {
  font-size: 1.6em;
  line-height: 1.3em;
}
#team footer p em {
  font-family: Palatino;
}
/*********************************************************************************/
/* Register                                                                      */
/*********************************************************************************/
#register {
  background: #333;
  position: relative;
  margin: 0;
}
#register header {
  padding: 4em 0em 4em 0em;
  background: #000;
}
#register header h2 {
  color: #ffffff;
  margin-bottom: .5em;
}
#register header p {
  font-size: 1.8em;
  line-height: 1.3em;
  color: #ffffff;
}
#register article {
  background: #000;
  padding-bottom: 4em;
}
#register article p {
  margin-top: .6em;
  font-size: 1.6em;
  color: #ffffff;
  line-height: 1.2em;
}
#register footer {
  padding: 0em 0em 12em 0em;
}
#register footer form {
  margin-top: 4em;
}
#register footer form label {
  font-size: 1.5em;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: .5em;
  display: block;
}
#register footer form input {
  display: block;
  width: 100%;
  padding: .7em 1em .8em 1em;
  background: #333;
  color: #ccc;
  font-size: 1.6em;
  font-weight: 200;
  border-radius: .2em;
  outline: none;
  border-style: solid;
  outline-color: #ffffff;
  border-color: #ffffff;
  -webkit-text-stroke: 0;
  border-width: 2px;
}
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
#footer {
  position: relative;
  color: #ffffff;
  text-align: center;
  margin: 0;
  background: #333333;
}
#footer header .social-icon {
  margin: 0em 2em 0em 2em;
}
#footer footer {
  padding: 4em 0em;
}
#footer footer p {
  color: #ccc;
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: .05em;
}
