#header header {
  padding-bottom: 8em;
}
#header header .logo {
  margin: 3em 0em;
}
#header header p {
  font-size: 2.5em;
}
#features header {
  text-align: center;
}
#features article {
  text-align: center;
}
#team {
  text-align: center;
}
#register {
  text-align: center;
}
#register footer form label {
  text-align: left;
}
