@charset 'UTF-8';

/*********************************************************************************/
/* Includes                                                                      */
/*********************************************************************************/

@import "variables.less";
@import "basic.less";
@import "buttons.less";


#intro
{
	height: 1000px;
	background: #ffffff;
}


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		color: #fff;
		text-shadow: 0 0 0.5px rgba(255,255,255,0.25);
		text-align: center;
		margin: 0;
		padding: 0em 0 0em 0;
		cursor: default;

		header {
			display: inline-block;
			padding: 0 0 0em 0;

			h1 {
				font-weight: 600;
				font-size: 2em;
			}

			p {
				font-size: 1em;
				padding: 0;
			}
		}
	}
				

		

			
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		position: relative;
		color: #fff;
		text-align: center;
		margin: 4.5em 0 0 0;
		background: #333333;

		footer {

			p {

				color: #ccc;
				font-size: .5em;
				font-weight: 200;
				letter-spacing: .1em;

				strong {
					color: #fff;
				}

			}

		}
	}
		
			
	